{% extends 'baseLogedIn.html' %}

{%block title %}
    Update profile
{% endblock %}

{% block content%}
<style>
body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#9884ff), to(#1c1763));
    background: linear-gradient(to right, #9884ff, #1c1763);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}




</style>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-12 bg-c-lite-green user-profile">
                            <h6 class="f-w-600">{{current_user.name}}   {{current_user.surname}}</h6>
                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-block">
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Change Password</legend>
                                    <div class="form-group">
                                        {{ form.oldPassword.label(class="form-control-label") }}
                    
                                        {% if form.oldPassword.errors %}
                                            {{ form.oldPassword(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.oldPassword.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.oldPassword(class="form-control form-control-lg", value = current_user.oldPassword) }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.newPassword.label(class="form-control-label") }}
                    
                                        {% if form.newPassword.errors %}
                                            {{ form.newPassword(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.newPassword.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.newPassword(class="form-control form-control-lg", value = current_user.newPassword) }}
                                        {% endif %}
                                    </div>
                                    <br>
                                    
                                    
                                </fieldset>
                                <div class="checkbox mb-3" style=color:gray >
                                    <h6>Do not want to update password?</h6>
                                    <a class="btn btn-sm btn-secondary" href="{{url_for('profileView')}}">Back to profile</a> 
                                 </div>
                                 
                                 {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                                 
                            </form>                          
                        </div>        
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}